.main-heading{

  width: 100%;
}

.main-body{
  display: flex;
  flex-direction: row;
}

.mat-card{
  width: 48%; height: 200px;
}

.form{
  width: 48%;
  /* margin-top: 2%; */
  margin-left: 2%;
}

.form p{
  text-align: center;
  padding-top: 2%;
  color: #1976d2;
  font-weight: bold;
  font-size: 16px;
}

.example-full-width{
  width: 90%;
  text-align: center;
  margin-left: 5%;
}

